body{
    }
    .background {
    display: inline-block;
    width: 100%;
    height: 100vh;
    background-color: aqua;
    background-image: url(../img/ready.png);
    background-position: center;
    background-size: cover;
    filter: blur(10px);
    }

    .container {
        display: inline-block;
        width: 800px;
        /* margin-top: 80px; */
        
       
        position: absolute;
        top: 50%;
        left:50%;
        transform: translate(-50%,-50%);
    }   
        .left {
             display: inline-block;
             padding: 50px;
             width: 40%;
             background-color: blue;
             background-image: url(../img/ready.png);
             background-position: center;
             background-size: cover;
             position: absolute;
             color: #fff;

             top: 20px;
             bottom: 20px;
             left: 0;
        }
            h1 {
                text-transform: capitalize;
                font-weight: normal;
            }
          
            .links {
                display: inline-block;
                position: absolute;
                left: 50px;
                right: 50px;
                bottom: 20px;
                }
               .links > a {
                    display: inline-block;
                    color: #fff;
                }
                .links > .span {
                    display: inline-block;
            }
        .right {
            padding: 80px;
             display: inline-block;
             background-color: #fff;
             width: 60%;
             float: right;
             position: relative;
        }
            .x {
                display: inline-block;                
                width: 80px;
                height: 80px;
                text-align: center;
                font-size: 24px;               
                 line-height: 76px;
                 position: absolute;
                 top: 0;
                 right: 0;
            }
            form {
                display: inline-block;
                width: 100%;
               
                            }
                .form-row {
                    display: inline-block;
                    width: 100%;
                    margin-bottom: 30px;
                    border: none;
                }
                .form-row:last-of-type {
                    margin-bottom: 0;
                    margin-top: 30px;
                    display: inline-block;
                }
                    label {
                        display: inline-block;
                        width: 100%;
                        margin-bottom: 10px;
                        text-transform: uppercase;
                        color: #C1C1C1;
                        font-size: 14px;
                        line-height: 20px;
                    }
                    input {
                        display: inline-block;
                        width: 100%;
                        border: none;
                        border-bottom: 2px solid #C1C1C1;
                        color: #333;
                        font-size: 18px;
                        line-height: 30px;

                    }
                    .btn,
                    .form-row > span,
                    .form-row > a 
                    {
                        float: left;
                        padding: 10px;
                        font-size: 18px;
                        line-height: 20px;
                         display: inline-block;
                    }
                    .btn {
                        color: #fff;
                        background-color: blue;
                        padding-right: 50px;
                        padding-left: 50px;
                        border-radius: 20px;
                    }
                    .form-row > span {
                        margin-left: 30px;
                        padding-right: 0;  
                    }
                    .form-row > a {
                        padding-left: 0;
                    }
